# 01. Working with Data Using Pandas | Ø§Ù„Ø¹Ù…Ù„ Ù…Ø¹ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… Pandas
## ğŸ“š Learning Objectives

By completing this notebook, you will:
- Work with Pandas DataFrames effectively
- Manipulate and transform data
- Filter and select data
- Aggregate and group data
- Apply common Pandas operations for ML preparation

## ğŸ”— Prerequisites

- âœ… Unit 1: Pandas & NumPy Basics (foundation knowledge)
- âœ… Unit 2: Data Cleaning (data manipulation skills)
- âœ… Understanding of DataFrames and Series

---

## Official Structure Reference

This notebook covers practical activities from **Course 05, Unit 4**:
- Working with data using Python libraries like Pandas
- **Source:** `DETAILED_UNIT_DESCRIPTIONS.md` - Unit 4 Practical Content

---

## ğŸ“š Prerequisites (What You Need First) | Ø§Ù„Ù…ØªØ·Ù„Ø¨Ø§Øª Ø§Ù„Ø£Ø³Ø§Ø³ÙŠØ©

**BEFORE starting this notebook**, you should have completed:
- âœ… **Unit 1: Pandas Basics** - You need DataFrame knowledge!
- âœ… **Unit 2: Data Cleaning** - You need data manipulation skills!
- âœ… **Understanding of data structures**: What are DataFrames? What are Series?

**If you haven't completed these**, you might struggle with:
- Understanding DataFrame operations
- Knowing which method to use
- Understanding data manipulation concepts

---

## ğŸ”— Where This Notebook Fits | Ù…ÙƒØ§Ù† Ù‡Ø°Ø§ Ø§Ù„Ø¯ÙØªØ±

**This is part of Unit 4: Introduction to Machine Learning**

**Why pandas data manipulation in ML unit?**
- **Before** building ML models, we manipulate data
- **Pandas** is essential for preparing ML datasets
- **Data manipulation** is core to ML workflows

**Builds on**: 
- ğŸ““ Unit 1: Pandas Basics (foundation)
- ğŸ““ Unit 2: Data Cleaning (manipulation skills)

**Leads to**: 
- ğŸ““ Example 2: Data Preparation for ML (applies these skills)
- ğŸ““ Example 3: Implementing ML Models (needs prepared data)

**Why this order?**
1. Data manipulation prepares data for ML (essential step)
2. Pandas is the standard tool (used in all ML workflows)
3. These skills are prerequisites for ML work

---

## The Story: Preparing Your Workspace | Ø§Ù„Ù‚ØµØ©: ØªØ­Ø¶ÙŠØ± Ù…Ø³Ø§Ø­Ø© Ø§Ù„Ø¹Ù…Ù„

Imagine you're building furniture. **Before** assembling, you organize your workspace - arrange tools, prepare materials, set up workbench. **After** organizing, you can work efficiently!

Same with ML: **Before** building models, we manipulate data - filter, transform, aggregate. **After** manipulating, data is ready for models!

---

## Why Pandas Data Manipulation Matters | Ù„Ù…Ø§Ø°Ø§ ÙŠÙ‡Ù… Ù…Ø¹Ø§Ù„Ø¬Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª

Pandas data manipulation is essential because:
- **Foundation**: All ML work starts with data manipulation
- **Preparation**: Manipulate data into ML-ready format
- **Efficiency**: Pandas is fast and powerful
- **Standard**: Industry standard for data manipulation

**Common Student Questions:**
- **Q: What's the difference between loc and iloc?**
  - Answer: loc uses labels, iloc uses integer positions
  - Example: df.loc[0] = row with index 0, df.iloc[0] = first row
  - Tip: Use loc for labels, iloc for positions
  
- **Q: When do I use groupby?**
  - Answer: When you need to aggregate by categories
  - Example: Group by 'category', then calculate mean
  - Benefit: Powerful for summarizing data

---

## Introduction

**Pandas** is the standard Python library for data manipulation and analysis. This notebook demonstrates essential Pandas operations for preparing data for machine learning tasks.

## The Story | Ø§Ù„Ù‚ØµØ©

**BEFORE**: You know basic pandas but don't know advanced data manipulation for ML.

**AFTER**: You'll master advanced pandas: grouping, pivoting, merging, and preparing data for machine learning!

**Why this matters**: Working with Data Using Pandas is essential for building complete, professional data science solutions!

---

In [1]:
import pandas as pd
import numpy as np

print("âœ… Libraries imported!")
print("\n" + "=" * 70)
print("Working with Pandas | Ø§Ù„Ø¹Ù…Ù„ Ù…Ø¹ Pandas")
print("=" * 70)

# ============================================================================
# PART 1: CREATE SAMPLE DATA | Ø¥Ù†Ø´Ø§Ø¡ Ø¨ÙŠØ§Ù†Ø§Øª Ù†Ù…ÙˆØ°Ø¬ÙŠØ©
# ============================================================================
print("\nğŸ“Š PART 1: Create Sample Data | Ø¥Ù†Ø´Ø§Ø¡ Ø¨ÙŠØ§Ù†Ø§Øª Ù†Ù…ÙˆØ°Ø¬ÙŠØ©")
print("-" * 70)

# Create sample DataFrame
df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['Ahmed', 'Sara', 'Mohammed', 'Fatima', 'Ali', 'Layla'],
    'age': [25, 30, 35, 28, 32, 27],
    'salary': [5000, 7000, 9000, 6000, 8000, 5500],
    'department': ['IT', 'HR', 'IT', 'Finance', 'IT', 'HR'],
    'experience': [2, 5, 8, 3, 6, 2]
})

print("Sample DataFrame:")
print(df)
print(f"\nDataFrame shape: {df.shape}")
print(f"DataFrame info:")
print(df.info())

# ============================================================================
# PART 2: DATA SELECTION | Ø§Ø®ØªÙŠØ§Ø± Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
# ============================================================================
print("\n" + "=" * 70)
print("PART 2: Data Selection | Ø§Ø®ØªÙŠØ§Ø± Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª")
print("=" * 70)

# Using loc (label-based)
print("\nâœ… Example 1: Using loc (Label-based Selection)")
print("-" * 70)
print("Select rows by label:")
print(df.loc[0:2])  # Rows 0, 1, 2
print("\nSelect specific columns:")
print(df.loc[:, ['name', 'age', 'salary']])
print("\nSelect rows and columns:")
print(df.loc[0:2, ['name', 'salary']])

# Using iloc (integer position-based)
print("\nâœ… Example 2: Using iloc (Position-based Selection)")
print("-" * 70)
print("Select first 3 rows:")
print(df.iloc[0:3])
print("\nSelect specific columns by position:")
print(df.iloc[:, [1, 2, 3]])  # Columns 1, 2, 3

# ============================================================================
# PART 3: DATA FILTERING | ØªØµÙÙŠØ© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
# ============================================================================
print("\n" + "=" * 70)
print("PART 3: Data Filtering | ØªØµÙÙŠØ© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª")
print("=" * 70)

# Boolean indexing
print("\nâœ… Example 3: Boolean Indexing (Filtering)")
print("-" * 70)
it_employees = df[df['department'] == 'IT']
print("IT Department employees:")
print(it_employees)

high_salary = df[df['salary'] > 6000]
print("\nEmployees with salary > 6000:")
print(high_salary)

# Multiple conditions
print("\nâœ… Example 4: Multiple Conditions")
print("-" * 70)
it_high_salary = df[(df['department'] == 'IT') & (df['salary'] > 6000)]
print("IT employees with salary > 6000:")
print(it_high_salary)

# ============================================================================
# PART 4: DATA MANIPULATION | Ù…Ø¹Ø§Ù„Ø¬Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
# ============================================================================
print("\n" + "=" * 70)
print("PART 4: Data Manipulation | Ù…Ø¹Ø§Ù„Ø¬Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª")
print("=" * 70)

# Adding columns
print("\nâœ… Example 5: Adding Columns")
print("-" * 70)
df['bonus'] = df['salary'] * 0.1  # 10% bonus
df['total_compensation'] = df['salary'] + df['bonus']
print("Added 'bonus' and 'total_compensation' columns:")
print(df[['name', 'salary', 'bonus', 'total_compensation']])

# Grouping and aggregation
print("\nâœ… Example 6: Grouping and Aggregation")
print("-" * 70)
dept_stats = df.groupby('department').agg({
    'salary': ['mean', 'sum', 'count'],
    'age': 'mean',
    'experience': 'mean'
}).round(2)
print("Statistics by department:")
print(dept_stats)

# ============================================================================
# PART 5: DATA TRANSFORMATION | ØªØ­ÙˆÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
# ============================================================================
print("\n" + "=" * 70)
print("PART 5: Data Transformation | ØªØ­ÙˆÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª")
print("=" * 70)

# Sorting
print("\nâœ… Example 7: Sorting Data")
print("-" * 70)
sorted_by_salary = df.sort_values('salary', ascending=False)
print("Sorted by salary (descending):")
print(sorted_by_salary[['name', 'salary']])

# String operations
print("\nâœ… Example 8: String Operations")
print("-" * 70)
df['name_upper'] = df['name'].str.upper()
df['name_length'] = df['name'].str.len()
print("String operations:")
print(df[['name', 'name_upper', 'name_length']])

# ============================================================================
# SUMMARY | Ø§Ù„Ù…Ù„Ø®Øµ
# ============================================================================
print("\n" + "=" * 70)
print("Summary | Ø§Ù„Ù…Ù„Ø®Øµ")
print("=" * 70)
print("""
âœ… What you learned:
   1. Data Selection: loc (labels), iloc (positions)
   2. Data Filtering: Boolean indexing, multiple conditions
   3. Data Manipulation: Add columns, group, aggregate
   4. Data Transformation: Sort, string operations

ğŸ¯ Key Takeaways:
   - loc: Label-based selection (use index/column names)
   - iloc: Position-based selection (use integer positions)
   - Boolean indexing: Filter rows based on conditions
   - Groupby: Aggregate data by categories
   - Pandas: Powerful tool for all data manipulation

ğŸ“š Next Steps:
   - Example 2: Data Preparation for ML (apply these skills)
   - Example 3: Implementing ML Models (needs manipulated data)
   - Practice: Manipulate real datasets
""")
print("âœ… Pandas concepts understood!")

âœ… Libraries imported!

======================================================================
Working with Pandas | Ø§Ù„Ø¹Ù…Ù„ Ù…Ø¹ Pandas
======================================================================

ğŸ“Š PART 1: Create Sample Data | Ø¥Ù†Ø´Ø§Ø¡ Ø¨ÙŠØ§Ù†Ø§Øª Ù†Ù…ÙˆØ°Ø¬ÙŠØ©
----------------------------------------------------------------------
Sample DataFrame:
   id      name  age  salary department  experience
0   1     Ahmed   25    5000         IT           2
1   2      Sara   30    7000         HR           5
2   3  Mohammed   35    9000         IT           8
3   4    Fatima   28    6000    Finance           3
4   5       Ali   32    8000         IT           6
5   6     Layla   27    5500         HR           2

DataFrame shape: (6, 6)
DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          6 non-null      int64
 1   name        6 non-null      object
 2   age         6 non-null      int64
 3   salary      6 non-null      int64
 4   department  6 non-null      object
 5   experience  6 non-null      int64
dtypes: int64(4), object(2)
memory usage: 420.0+ bytes
None

======================================================================
PART 2: Data Selection | Ø§Ø®ØªÙŠØ§Ø± Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
======================================================================

âœ… Example 1: Using loc (Label-based Selection)
----------------------------------------------------------------------
Select rows by label:
   id      name  age  salary department  experience
0   1     Ahmed   25    5000         IT           2
1   2      Sara   30    7000         HR           5
2   3  Mohammed   35    9000         IT           8

Select specific columns:
       name  age  salary
0     Ahmed   25    5000
1      Sara   30    7000
2  Mohammed   35    9000
3    Fatima   28    6000
4       Ali   32    8000
5     Layla   27    5500

Select rows and columns:
       name  salary
0     Ahmed    5000
1      Sara    7000
2  Mohammed    9000

âœ… Example 2: Using iloc (Position-based Selection)
----------------------------------------------------------------------
Select first 3 rows:
   id      name  age  salary department  experience
0   1     Ahmed   25    5000         IT           2
1   2      Sara   30    7000         HR           5
2   3  Mohammed   35    9000         IT           8

Select specific columns by position:
       name  age  salary
0     Ahmed   25    5000
1      Sara   30    7000
2  Mohammed   35    9000
3    Fatima   28    6000
4       Ali   32    8000
5     Layla   27    5500

======================================================================
PART 3: Data Filtering | ØªØµÙÙŠØ© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
======================================================================

âœ… Example 3: Boolean Indexing (Filtering)
----------------------------------------------------------------------
IT Department employees:
   id      name  age  salary department  experience
0   1     Ahmed   25    5000         IT           2
2   3  Mohammed   35    9000         IT           8
4   5       Ali   32    8000         IT           6

Employees with salary > 6000:
   id      name  age  salary department  experience
1   2      Sara   30    7000         HR           5
2   3  Mohammed   35    9000         IT           8
4   5       Ali   32    8000         IT           6

âœ… Example 4: Multiple Conditions
----------------------------------------------------------------------
IT employees with salary > 6000:
   id      name  age  salary department  experience
2   3  Mohammed   35    9000         IT           8
4   5       Ali   32    8000         IT           6

======================================================================
PART 4: Data Manipulation | Ù…Ø¹Ø§Ù„Ø¬Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
======================================================================

âœ… Example 5: Adding Columns
----------------------------------------------------------------------
Added 'bonus' and 'total_compensation' columns:
       name  salary  bonus  total_compensation
0     Ahmed    5000  500.0              5500.0
1      Sara    7000  700.0              7700.0
2  Mohammed    9000  900.0              9900.0
3    Fatima    6000  600.0              6600.0
4       Ali    8000  800.0              8800.0
5     Layla    5500  550.0              6050.0

âœ… Example 6: Grouping and Aggregation
----------------------------------------------------------------------
Statistics by department:
             salary                 age experience
               mean    sum count   mean       mean
department
Finance     6000.00   6000     1  28.00       3.00
HR          6250.00  12500     2  28.50       3.50
IT          7333.33  22000     3  30.67       5.33

======================================================================
PART 5: Data Transformation | ØªØ­ÙˆÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
======================================================================

âœ… Example 7: Sorting Data
----------------------------------------------------------------------
Sorted by salary (descending):
       name  salary
2  Mohammed    9000
4       Ali    8000
1      Sara    7000
3    Fatima    6000
5     Layla    5500
0     Ahmed    5000

âœ… Example 8: String Operations
----------------------------------------------------------------------
String operations:
       name name_upper  name_length
0     Ahmed      AHMED            5
1      Sara       SARA            4
2  Mohammed   MOHAMMED            8
3    Fatima     FATIMA            6
4       Ali        ALI            3
5     Layla      LAYLA            5

======================================================================
Summary | Ø§Ù„Ù…Ù„Ø®Øµ
======================================================================

âœ… What you learned:
   1. Data Selection: loc (labels), iloc (positions)
   2. Data Filtering: Boolean indexing, multiple conditions
   3. Data Manipulation: Add columns, group, aggregate
   4. Data Transformation: Sort, string operations

ğŸ¯ Key Takeaways:
   - loc: Label-based selection (use index/column names)
   - iloc: Position-based selection (use integer positions)
   - Boolean indexing: Filter rows based on conditions
   - Groupby: Aggregate data by categories
   - Pandas: Powerful tool for all data manipulation

ğŸ“š Next Steps:
   - Example 2: Data Preparation for ML (apply these skills)
   - Example 3: Implementing ML Models (needs manipulated data)
   - Practice: Manipulate real datasets

âœ… Pandas concepts understood!